/* Text Styling */
h1 {
  font-size: 50px;
}
section p {
  letter-spacing: 10px;
}
article {
  word-spacing: 5px;
  text-align: center;
}
/* Text Styling */

/* Contoh pesan pada perubahan yang akan kita ganti menggunakan git*/
